'scopeName': 'source.rapidql'
'name': 'RapidQL'
'fileTypes': ['rql']

'patterns': [
    {
      'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
      'name': 'constant.numeric.rql'
    },
    {
      'name': 'keyword.control.untitled',
      'match': '\b(RapidAPI|while|for|return)\b'
    }
]
